/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rouge";

label {
  &.required {
    &::after {
      content: "*";
    }
  }
}

// rouge scss
$pre-bg-color-for-github: #f6f8fa;

div {
  &.highlight {
    border-radius: 6px;
  }
}

pre {
  &.highlight {
    background-color: $pre-bg-color-for-github;
    border-radius: 6px;
    margin: 0;
    padding: 16px;
  }
}
