/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rouge";

div.highlight {
  border-radius: 6px;
  background-color: #f6f8fa;
}
pre.highlight {
  padding: 16px;
  margin: 0;
  border-radius: 6px;
  background-color: #f6f8fa;
}