/*
 *= require_tree .
 *= require_self
 */

$theme-colors: (
  "primary": #117ec6
);

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rouge";

h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-feature-settings: "palt";
  font-weight: bold;
  margin: 1.4rem 0 1.5rem;
}

h1,
.h1 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 1.5px solid $gray-300;
  font-size: 1.65rem;
  padding-bottom: .3em;
}

h3 {
  font-size: 1.45rem;
  margin-bottom: 1.8rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
  margin-bottom: 1.3rem;
}

h6 {
  font-size: 1.05rem;
  margin-bottom: 1.2rem;
}

label {
  &.required {
    &::after {
      content: "*";
    }
  }
}

.navbar-dark .navbar-nav .nav-link-light {
  color: $gray-400;
}

.cta-box-mx {
  max-width: 50%;

  @include media-breakpoint-down(md) {
    max-width: 75%;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.review-count-box {
  font-weight: bold;
  text-align: center;

  dt {
    font-size: .6rem;
  }
}

.posts-title {
  font-size: 1.15rem;
  font-weight: bold;
}

// rouge scss
$pre-bg-color-for-github: #f6f8fa;

code {
  background-color: $pre-bg-color-for-github;
  border-radius: 3px;
  color: $gray-900;
  padding: .2em .4em;
  margin: 0 .2em;
}

div {
  &.highlight {
    border-radius: 6px;
  }
}

pre {
  &.highlight {
    background-color: $pre-bg-color-for-github;
    border-radius: 6px;
    margin: 0;
    padding: 16px;
  }
}

.md-preview {
  border: 1px dashed $gray-500;

  pre {
    background-color: $pre-bg-color-for-github;
    border-radius: 6px;
    margin: 0;
    padding: 16px;
  }
}
